/*the buttons for the title*/
#major{
    background-color: beige;
    text-align: center;
}
#title{
    font-size: 50px;
    text-align: center;
}
button{
    transition-duration: 0.4s;
    background-color: white;
    color: black;
    width: 150px;
    height: 30px;
    font-size: 20px;
}

button:hover {
    background-color: #04AA6D; /* Green */
    color: white;
}

/* index/about page */
#chest{
position: relative;
text-align: left;
width: 40%;
left: 30%;
}
h2{
    left: 92%;
    /*fix this ;-;*/
    position:relative;
    transform: translate(-50%, 0%);

}
/*side note the imges below are placed within a div box, so the sizing is different*/
.Iimg1{
    max-width: 100%;
}
.Iimg2{
    max-width: 100%;
}
.Iimg3{
    max-width: 100%;
}
.Iimg4{
    max-width: 100%;
}

/* history page */
.Himg1{
    max-width: 30%;
}
.Himg2{
    max-width: 30%;
}
.Himg3{
    max-width: 30%;
}

/* present page */
/* background page */
/* future page */