/*the buttons for the title*/
/*
@media all and (orientation:portrait) { … }
@media all and (orientation:landscape) { … }
*/
.generalimg{
    max-width: 100%;
}
#major{
    text-align: center;
}
#title{
    font-size: 50px;
    text-align: center;
}
button{
    transition-duration: 0.4s;
    background-color: white;
    color: black;
    width: 180px;
    height: 30px;
    font-size: 20px;
    border: 2px;
    border-style: solid;
    border-color: black;
    -webkit-appearance: none;
}

button:hover {
    background-color: #04AA6D; /* Green */
    color: white;
    -webkit-appearance: none;
}

/* index/about page */
@media all and (orientation:landscape){
    #chest{
        position: relative;
        text-align: justify;
        width: 45%;
        left: 27.5%;
        }
}
@media all and (orientation:portrait){
    #chest{
        position: relative;
        text-align: justify;
        width: 100%;
        }
}
h2{
    position:relative;
    width:fit-content;
    left:50%;
    transform: translate(-50%, 0%);

}
/*side note the imges below are placed within a div box, so the sizing is different*/
#table{
    background-color: cornsilk;
}
.row1{
    background-color:blanchedalmond;
}
.one{
    position: relative;
    text-wrap: pretty;
    max-width: 40%;
    display: inline-block;
    text-align: left;
}
.two{
    position: absolute;
    /*possible resizing issue using absolute position*/
    left:60%;
    transform: translate(-50%);
    /*font-size: 1.3vw;*/
}
.threefirst{
    position: absolute;
    right: 10px;
    /* another issue where the transform is applied after moving it to the right*/
    /*use more div boxes*/
}
.three{
    position: absolute;
    right:211928372%;
    /*hahahahaha*/
    /* use js to on resize and onload to add half of threefirsts to a transform of this element*/
}





/* history page */
.Himg4{
   width: 40%;
   position: relative;
   left:50%;
   transform: translate(-50%);
}
.Htxt4{
    width:fit-content;
    position: relative;
    left:50%;
    transform: translate(-50%);
 }
@media all and (orientation:landscape){
    #minorHistory{
        position: relative;
        text-align: justify;
        width: 45%;
        left: 27.5%;
        }
}
@media all and (orientation:portrait){
    #minorHistory{
        position: relative;
        text-align: justify;
        width: 100%;
        }
}


/* future page */
#shifted{
    /*The unordered list under the short to midterm program for FEL*/
    position: relative;
    left:5%;
    width: 95%;
}
@media all and (orientation:portrait){
    #Fchest{
        position: relative;
        text-align: left;
        width: 100%;
        left: 50%;
        transform: translate(-50%, 0%);
    }
}
@media all and (orientation:landscape){
    #Fchest{
        position: relative;
        text-align: left;
        width: 40%;
        left: 50%;
        transform: translate(-50%, 0%);
    }
}

/*People Page*/
.profile{
    max-width: 100px;
}
.desc{
    /*description on a contact card*/
    position: relative;
    width:180px;
    /*THERE IS A SET WIDTH SIZE SO LONG TEXT WILL HAVE TO INCREASE OVERALL WIDTH*/
    top:50%;
    transform:translate(0%, -50%);
    float: right;
}
.image{
    /*the image on a contact card*/
    top: 50%;
    position: relative;
    width: fit-content;
    float: left;
    transform: translate(0%, -50%);
}
.total{
    /*each individual contact card*/
    width: 300px;
    height:150px;
    margin:10px;
}
@media all and (orientation:landscape){
    #Pchest{
        position: relative;
        text-align: left;
        width:680px;
        left: 50%;
        transform: translate(-50%, 0%);
        height:fit-content;
    }
    /*set image max width to same as the width of div box*/
}
@media all and (orientation:portrait){
    #Pchest{
        position: relative;
        text-align: left;
        width:100%;
        left: 50%;
        transform: translate(-50%, 0%);
        height:fit-content;
    }
}
@media all and (orientation:landscape){
    #final{
        position: absolute;
        width: fit-content;
        transform: translate(-50%);
        top: 850px;
        left: 50%;
    }
}
@media all and (orientation:portrait){
    #final{
        position: absolute;
        width: fit-content;
        transform: translate(-50%);
        top: 1600px;
        left: 50%;
    }
}


@media all and (orientation:landscape){
    .spnR{
        position:absolute;
        right:0%;
        width: max-content;
    }
}
@media all and (orientation:portrait){
    .spnR{
        position:absolute;
        top:697px;
        /*estimation by background*/
        left:50%;
        transform: translate(-50%);
        width: max-content;
    }
}
@media all and (orientation:landscape){
    .spnL{
        position:absolute;
        left:0%;
        width: max-content;
        /*the list element shifts as the screen shifts from landscape to portrait*/
    }
}
@media all and (orientation:portrait){
    .spnL{
        position:absolute;
        left:50%;
        width: max-content;
        transform: translate(-50%);
        /*the list element shifts as the screen shifts from landscape to portrait*/
    }
}
@media all and (orientation:landscape){
    .finalfinal{
        position: absolute;
        width: fit-content;
        transform: translate(-50%);
        top: 900px;
        left: 50%
    }
}
@media all and (orientation:portrait){
    .finalfinal{
        position: absolute;
        width: fit-content;
        transform: translate(-50%);
        top: 1650px;
        left: 50%
    }
}